NEXT_PUBLIC_SUPABASE_URL=https://poksmavtwffyewdebzwq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_JlF_2_I0lkortZCTniu-FA_VD85HgOa
NEXT_PUBLIC_SITE_URL=https://www.budgethomes4u.com
